# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.idea/.name
.idea/gradle.xml
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_1_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_5_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_3_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_maps_17_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
.idea/libraries/Gradle__com_huawei_agconnect_agconnect_core_1_5_2_300_aar.xml
.idea/libraries/Gradle__com_huawei_android_hms_security_encrypt_1_1_5_302_aar.xml
.idea/libraries/Gradle__com_huawei_android_hms_security_ssl_1_1_5_302_aar.xml
.idea/libraries/Gradle__com_huawei_hmf_tasks_1_4_1_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_availableupdate_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_awareness_1_0_7_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_awareness_common_1_0_7_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_base_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_device_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_dynamic_api_1_0_13_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_hatool_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_location_5_0_4_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_log_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_maps_5_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_agc_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_aidlbase_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_commonutils_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_dynamic_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_grs_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_ha_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_language_inner_3_0_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_model_download_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_net_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_sdkbase_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_translate_3_0_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_base_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_cloud_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_base_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_cn_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_jk_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_latin_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_3_1_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_plugin_3_0_0_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_sdk_3_1_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_tts_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_tts_inner_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_common_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_framework_compat_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_grs_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_stats_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ui_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_update_2_0_7_302_aar.xml
.idea/misc.xml
.idea/modules/app/MyTravelBuddy.app.iml
.idea/modules/MyTravelBuddy.iml
.idea/workspace.xml
app/build.gradle
app/src/main/java/com/example/mytravelbuddy/ui/home/HomeFragment.java
build.gradle
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/.name
.idea/gradle.xml
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_1_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_5_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_3_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_maps_17_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
.idea/libraries/Gradle__com_huawei_agconnect_agconnect_core_1_5_2_300_aar.xml
.idea/libraries/Gradle__com_huawei_android_hms_security_encrypt_1_1_5_302_aar.xml
.idea/libraries/Gradle__com_huawei_android_hms_security_ssl_1_1_5_302_aar.xml
.idea/libraries/Gradle__com_huawei_hmf_tasks_1_4_1_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_availableupdate_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_awareness_1_0_7_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_awareness_common_1_0_7_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_base_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_device_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_dynamic_api_1_0_13_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_hatool_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_location_5_0_4_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_log_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_maps_5_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_agc_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_aidlbase_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_commonutils_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_dynamic_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_grs_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_ha_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_language_inner_3_0_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_model_download_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_net_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_sdkbase_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_translate_3_0_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_base_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_cloud_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_base_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_cn_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_jk_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_latin_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_3_1_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_plugin_3_0_0_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_sdk_3_1_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_tts_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_tts_inner_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_common_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_framework_compat_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_grs_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_stats_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ui_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_update_2_0_7_302_aar.xml
.idea/misc.xml
.idea/modules/app/MyTravelBuddy.app.iml
.idea/modules/MyTravelBuddy.iml
.idea/workspace.xml
app/build.gradle
app/src/main/java/com/example/mytravelbuddy/ui/home/HomeFragment.java
build.gradle
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/7.0.2/fileHashes/fileHashes.lock
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/classAnalysis.bin
.gradle/7.0.2/javaCompile/javaCompile.lock
.gradle/7.0.2/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/.name
.idea/gradle.xml
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_1_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_5_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_0_aar.xml
.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_3_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_5_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_maps_17_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
.idea/libraries/Gradle__com_huawei_agconnect_agconnect_core_1_5_2_300_aar.xml
.idea/libraries/Gradle__com_huawei_android_hms_security_encrypt_1_1_5_302_aar.xml
.idea/libraries/Gradle__com_huawei_android_hms_security_ssl_1_1_5_302_aar.xml
.idea/libraries/Gradle__com_huawei_hmf_tasks_1_4_1_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_availableupdate_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_awareness_1_0_7_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_awareness_common_1_0_7_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_base_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_device_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_dynamic_api_1_0_13_303_aar.xml
.idea/libraries/Gradle__com_huawei_hms_hatool_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_location_5_0_4_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_log_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_maps_5_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_agc_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_aidlbase_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_commonutils_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_dynamic_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_grs_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_ha_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_language_inner_3_0_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_model_download_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_net_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_sdkbase_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_translate_3_0_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_base_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_cloud_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_inner_2_0_5_304_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_base_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_cn_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_jk_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_vision_ocr_latin_model_2_0_5_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_3_1_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_plugin_3_0_0_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_asr_sdk_3_1_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_tts_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ml_computer_voice_tts_inner_2_2_0_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_common_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_framework_compat_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_network_grs_4_0_20_301_aar.xml
.idea/libraries/Gradle__com_huawei_hms_stats_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_ui_5_0_5_300_aar.xml
.idea/libraries/Gradle__com_huawei_hms_update_2_0_7_302_aar.xml
.idea/misc.xml
.idea/modules/app/MyTravelBuddy.app.iml
.idea/modules/MyTravelBuddy.iml
.idea/workspace.xml
app/build.gradle
app/src/main/java/com/example/mytravelbuddy/ui/home/HomeFragment.java
build.gradle
